* {
    font-family: "Poppins";
}

body {
    margin: 0;
    padding: 0;
}

.bandeau h3 {
    font-size: 4em;
    color : whitesmoke;
    margin-left: 50px;
    margin-top: 100px;
}
.bandeau p {
    font-size: 1.2em;
    margin-left: 50px;
    text-align: justify;
    color : white;
}


#sec-1 {
    position: absolute;
    display: flex;
    content : "";
    height: 100%;
    width: 100%;
    background-image: url(../assets/wave.svg);   
    background-size: cover;
}

#sec-2 {
    position: absolute;
    width: 1400px;
    margin-top: 40%;
    margin-left: 10%;
}

#sec-2 h4 {
    text-align: center;
    font-size: 2em;
    color: #2b3345;
}

#sec-2 img {
	width: 150px;
	height: 150px;
}
#sec-2 p {
    text-align: justify;
    width: 60%;
    margin-left: 50px;
}

#sec-2 .container {
    display: flex;
    justify-content: center;
}