* {
    font-family: "Poppins";
    text-decoration: none;
    color: #2b3345;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/Background.png");
    --interval-width: 200px;
    background-size: var(--interval-width) auto;
}

.bandeau h3 {
    font-size: 4em;
    color : whitesmoke;
    margin-left: 50px;
    margin-top: 100px;
}
.bandeau p {
    font-size: 1.2em;
    margin-left: 50px;
    text-align: justify;
    color : white;
}


#sec-1 {
    position: absolute;
    display: flex;
    content : "";
    height: 100%;
    width: 100%;
    background-image: url(../assets/wave.svg);   
    background-size: cover;
}

#sec-2 {
    position: absolute;
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3em;
    color: #2b3345;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    color: #2b3345;
}
/* SECTION 2 */

#sec-2 img {
	width: 300px;
	height: 300px;
  float: left;
}

#sec-2 p {
    text-align: justify;
    margin-left: 50px;
}

#sec-2 .outils {
    float: left;
}
#sec-2 button {
  font-size:24px; 
  border : none; 
  background-color : #fff;
  cursor: pointer;
}

#sec-2 .realisations {
  float: left;
  margin-left: 20%;
}
#sec-3 .screen {
    width: 100%;
    margin-top: 150px;
}


.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

#sec-3 .screen .container {
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#sec-3 {
  height: 300px;
  float: left;
  margin-top: 70%;
  width: 100%;
}



.cards {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.card img {
  border-radius: 10px;
    object-fit: cover;
    height: 61%;
    width: 100%;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .1;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .²s #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}
#item-1 {
    visibility: hidden;
}#item-2 {
    visibility: hidden;
}
#item-3 {
    visibility: hidden;
}
.player {
  background-color: #f3f3f3;
  border-radius: 8px;
  margin-top: 50%;
  min-width: 355px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon{ display: none; }

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-1:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}

#sec-2 .h2{
  font-size: 35px;
  text-align: center;
  margin: auto;
}


/* SECTION 4 */
#sec-4 .h2{
  font-size: 35px;
  text-align: center;
  margin: auto;
}
#sec-4 {
  position: absolute;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

#sec-4 img {
width: 300px;
height: 300px;
float: left;
}

#sec-4 p {
  text-align: justify;
  margin-left: 50px;
}

#sec-4 .outils {
  float: left;
}
#sec-4 button {
font-size:24px; 
border : none; 
background-color : #fff;
cursor: pointer;
}

#sec-4 .realisations {
float: left;
margin-left: 20%;
}

#sec-5 {
  display: inline-block;
  margin-top: 48%;
  max-width: 100%;
}

.pic-ctn {
  width: 100vw;
  height: 200px;
  max-width: 100%;
}

@keyframes display {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(-150px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  border-radius: 17px;
  top: 0;
  left: calc(50% - 460px);
  opacity: 0;
  animation: display 16s infinite;
}

img:nth-child(2) {
  animation-delay: 4s;
}
img:nth-child(3) {
  animation-delay: 8s;
}
img:nth-child(4) {
  animation-delay: 12s;
}
img:nth-child(5) {
  animation-delay: 16s;
}



/* SECTION 4 */

#sec-6 .h2{
  font-size: 35px;
  text-align: center;
  margin: auto;
}

#sec-6 {
  position: absolute;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

#sec-6 img {
width: 300px;
height: 300px;
float: left;
}


#sec-6 .outils {
  float: left;
}
#sec-6 button {
font-size:24px; 
border : none; 
background-color : #fff;
cursor: pointer;
}

#sec-6 .realisations {
float: left;
margin-left: 20%;
}

#sec-7 {
  display: inline-block;
  margin-top: 59%;
  max-width: 100%;
}

/* SECTION 5 */

#sec-8 .h2{
  font-size: 35px;
  text-align: center;
  margin: auto;
}

#sec-8 {
  position: absolute;
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

#sec-8 img {
width: 300px;
height: 300px;
float: left;
}
#sec-8 .realisations {
  float: left;
  margin-left: 20%;
  }

#sec-8 .outils {
  float: left;
}

#sec-8 button {
  font-size:24px; 
  border : none; 
  background-color : #fff;
  cursor: pointer;
  }
  

#sec-9 {
  display: inline-block;
  margin-top: 35%;
  max-width: 100%;
}

/* SECTION 6 */

#sec-10 .h2{
  font-size: 35px;
  text-align: center;
  margin: auto;
}

#sec-10 {
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

#sec-10 img {
width: 300px;
height: 300px;
float: left;
margin: 10px;
}

#sec-10 .realisations {
  float: left;
  margin-left: 20%;
  }

#sec-10 .outils {
  float: left;
}

#sec-10 button {
  font-size:24px; 
  border : none; 
  background-color : #fff;
  cursor: pointer;
  }
  

#sec-11 {
  display: inline-block;
  max-width: 100%;
}

.fa.fa-file-pdf-o:hover {
  color: red;
}

.fa.fa-file-pdf-o {
  margin: 10px;
  color : #2b3345;
}
.fas.fa-link {
  margin: 10px;
  color : #2b3345;
}

.fas.fa-link:hover {
color: red;
}

.fa-arrow-circle-left:before {
    content: "\f0a8";
    color: antiquewhite;
    font-size: 5em;
    margin: 10px;
    display: block;
}


section #services {
  text-align: center;
  background-color: #2b3345;
  transform: translatez(0);
  position: absolute;
  width: -webkit-fill-available;
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #fff;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 120px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 75px;
  font-size: 2.4em;
  text-align: center;
  line-height: 75px;
  background-color: #15171dd6;
  border-radius: 20px;
  transition: all 0.5s ease;;
  transition: all 0.5s ease;
}
section #services li a {
  color: #fff;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services h3 {
    color: #fff;
    text-align: center;
    margin-right: 30px;
}
section #services h4 {
  color: #fff;
  margin-right: 30px;
  text-align: center;
}