* {
    font-family: "Poppins";
}

body {
    margin: 0;
    padding: 0;
}

.bandeau h3 {
    font-size: 4em;
    color : whitesmoke;
    margin-left: 50px;
    margin-top: 100px;
}
.bandeau p {
    font-size: 1.2em;
    margin-left: 50px;
    text-align: justify;
    color : white;
    line-height: 0.5em;
}


#sec-1 {
    position: absolute;
    display: flex;
    content : "";
    height: 100%;
    width: 100%;
    background-image: url(../assets/wave.svg);   
    background-size: cover;
}