/** Page Projet **/

@media screen and (max-width: 600px) {
    .bandeau p {
        margin: 10px;
        line-height: initial;
        text-align: justify;
        font-size: 1em;
    }

    .bandeau h3 {
        text-align: center;
        margin-left: auto;
    }
    h1 {
        margin-top: 200px;  
    }
    #sec-3 .screen .container {
        margin-left: auto;
    }
    #sec-3 .screen {
        margin-top : 377px;
    }
    #sec-5 {
        margin-top : 2600px;
    }
    .bandeau h3 {
        margin-right: 50px;
    }

}
@media screen and (max-width: 1100px) {
    #sec-2 {
        margin-top: 1200px;
    }
    #sec-3 {
        margin-top: 2200px;
    }
    #sec-4 {
        margin-top: 500px;
    }
    #sec-5 {
        margin-top :194%;
    }
    #sec-6 {
        margin-top :25%;
    }
    #sec-7 {
        margin-top :200%;
    }
    #sec-9 {
        margin-top :177%;
    }
    .pic-ctn > img {
        left: auto;
        max-width : 100%;
    }
    #sec-2 .realisations {
        margin-left: auto;
    }
    #sec-4 .realisations {
        margin-left: auto;
    }
    #sec-6 .realisations {
        margin-left: auto;
    }
    #sec-8 .realisations {
        margin-left: auto;
    }
}

/* for touch screen devices */
@media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }
  