* {
    font-family: "Poppins";
    text-decoration: none;
    color: #2b3345;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/Background.png");
    --interval-width: 200px;
    background-size: var(--interval-width) auto;
}

/* SECTION 1 */

#sec-1 {
    text-align: center;
    width: 80%;
    margin: auto;
    height: 10%;
}

#sec-1 .container {
    border-left: groove;
    float: left;
    width: 70%;
    text-align: justify;
}

#sec-1 .container p {
    margin-left: 9px;
}

#sec-1 img {
    width: 25%;
}

/* SECTION 2*/

#sec-2 {
    margin: auto;
    width: 80%;
}

#sec-2 .container {
    text-align: -webkit-center;
}

div.gallery {
    margin: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 395px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-shadow: -2px 7px 93px -10px rgba(0,0,0,0.75);
  }

  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
}

/* SECTION 3*/

#sec-3 {
    margin-top: 80px;
}

#sec-3 .container {
    width: 80%;
    margin: auto;
}

#sec-3 .container img {
    float: left;
    height: 350px;
    margin-right: 15px;
    border-radius: 5px;
}

#sec-3 .container .texte {
    float: left;
    text-align: justify;
    margin-left: 5px;
    display: contents;
}

/* SECTION 4 */

#sec-4 {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 8%;
}


#sec-4 .container {
    border-left: groove;
    float: left;
    width: 70%;
    text-align: justify;
}

#sec-4 .container p {
    margin-left: 9px;
}

#sec-4 img {
    width: 20%;
    border-radius: 50%;
}

.fas.fa-home:before {
    color: #2b3345;
    position: absolute;
    font-size: 5em;
    margin: 10px;
    display: block;
}

#sec-4 .method {
    float: left;
}

#sec-4 .method ul{
    float: left;
}

#sec-4 .photo {
    display: flex;
    justify-content: space-evenly;
}
#sec-4 .photo img:nth-child(1) {
    width: 22%;
}

#sec-4 .photo img:nth-child(2) {
    position: absolute;
    margin : 45px 5px 0 0;
    width: 17%;
}

#sec-4 .photo img:nth-child(3) {
    margin-top: 35px;
    width: 17%;
}

li {
    text-align: left;
}

#sec-4 .realisations a{
    display: inline-grid;
}

/* SECTION 5*/

#sec-5 {
    margin: auto;
    margin-top: 15%;
    width: 80%;
}

#sec-5 .container {
    text-align: -webkit-center;
}

div.gallery {
    margin: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 395px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
    box-shadow: -2px 7px 93px -10px rgba(0,0,0,0.75);
  }

  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
}